@page
@model WolManagerApp.Pages.DetailsModel

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>WolData</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.WolData.ComputerName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.WolData.ComputerName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.WolData.MACAddress)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.WolData.MACAddress)
        </dd>
    </dl>
</div>
<div>
    <a asp-page="./Edit" asp-route-id="@Model.WolData.Id">Edit</a> |
    <a asp-page="./Index">Back to List</a>
</div>
